canvas {
  background-image: url("images/farback.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid darksalmon;

}

.game-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}